body {
  padding-top: 50px;
}
.starter-template {
  padding: 10px 10px;
  text-align: center;
}

#bodyid {
	background-color:#093;
	color:#FFF;
	font-family:"Segoe UI", Verdana, Tahoma;
}

.displayTable {
	
	border-collapse:collapse;
	border: 2px solid black;
}

.typeACell {
	border: 1px solid black;	
	padding: 5px;
	background-color: #06C;
	color:#FFF;	
}

.typeBCell {
	border: 1px solid black;	
	padding: 5px;
	background-color: #0CF;
	color:#FFF;	
}

.typeAField {
	background-color: #06C;
	color: #FFF;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	width: 25px;
}

.typeBField {
	background-color: #0CF;
	color: #FFF;
	border: 1px solid black;
	padding: 0px;
	margin: 0px;
	width: 25px;
}

.button {
	background-color: #FC0;
	color: #000;
	border:none;
	padding: 5px;
	margin: 5px;
}

#SudokuForm {
	border-collapse:collapse;
}